<div class="comments list-group list-group-flush">
  {{#each this}}
  <section class="comment">
    <div class="list-group-item">
      {{user.username}} on {{format_date created_at}}
      <div class="text">
        {{comment_text}}
      </div>
    </div>
  </section>
  {{/each}}
</div>

