{{> post-info post }}

{{#if loggedIn}}
<form class="comment-form">
    <div class="col-xl-6 mt-3 ">
        <textarea class="comment-body" name="comment-body"></textarea>
    </div>
    <div>
        <button class="btn btn-primary comment-btn" type="submit">Add Comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}